
/* Colors */
    /*bg = background*/
    $body-bg-color:#e3e3e3;
    $sidebar-bg-color: #191919;
    $top-bar-bg-color: white;
    $main-content-bg-color: #f5f5f2;

    /*fn = font*/
    $header-fn: white;
    $nav-fn: #e3e3e3;
    $menu-fn: #999999;
    $persons-fn: #29353d;

/* Fonts */
$main-font: 'Roboto', sans-serif;

/*Variables for tests*/
$test-border: 1px red solid;
